.custom-button {
    border: none;
    outline: none;
    border-radius: 16px;
    padding: 5px 14px;
    width: 100%;
    letter-spacing: 1px;
}

.primary-button {
    background-color: #3FA2F6;
    color: #fff;
}

.default-button {
    background-color: #fff;
    border: 2px solid #ccc;
}