.home-screen {
    border: 1px solid red;
    grid-template-columns: 200px 1fr 1fr;
    height: 100%;
}


/* write post */

.write-post {
    border: 1px solid blue;
}
.write-post .profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.write-post .top-section,
.write-post .right-part {
    gap: 14px;
}

.write-post .top-section,
.write-post .toolbar {
    border-bottom: 2px solid #ccc;
    padding: 14px;
}
.write-post .top-section h3 {
    font-weight: 600;
}

.write-post .profile-box {
    border-left: 2px solid #ccc;
    padding-left: 14px;
    gap: 4px;
}


/* preview post */

.preview-post {
    border: 1px solid green;
}