:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
#root {
  height: 100%;
}

.w-fit {
  width: fit-content !important;
}

.gap-5 {
  gap: 5px;
}
.gap-4 {
  gap: 4px;
}

.d-block {
  display: block;
}

/* flex layout */
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}


/* grid layout */
.d-grid {
  display: grid;
}

.cursor-pointer {
  cursor: pointer;
}


/* image styling */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* text styling */
.text-white {
  color: #fff;
}
.text-black {
  color: #333;
}