:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
#root {
  height: 100%;
}

.w-fit {
  width: fit-content !important;
}

.b-none {
  border: none !important;
}

.p-0 {
  padding: 0 !important;
}

.gap-5 {
  gap: 5px;
}
.gap-4 {
  gap: 4px;
}
.gap-6 {
  gap: 6px;
}
.gap-8 {
  gap: 8px;
}


/* font-weights */
.fw-medium {
  font-weight: 600;
}

.d-block {
  display: block;
}

/* flex layout */
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}


/* grid layout */
.d-grid {
  display: grid;
}


.cursor-pointer {
  cursor: pointer;
}


/* image styling */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* text styling */
.text-white {
  color: #fff;
}
.text-black {
  color: #333;
}
.text-disabled {
  color: #777;
}



/* margin */
.mx-auto {
  margin: 0 auto;
}